<!DOCTYPE html>
<html>
  <head>
    <title>Contact us</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'edits.css' %}">
  </head>
  <body>
  <div class="registration_d">

    <div class="form_div">
      <form action="/insert/" method="post" class="decor">
        {% csrf_token %}

        <div class="form-left-decoration"></div>
        <div class="form-right-decoration"></div>
        <div class="circle"></div>
        <div class="form-inner">
          <h1>Contact us</h1>

          <input type="text" placeholder="Username" name="name">
          <input type="email" placeholder="Email" name="email">
          <textarea placeholder="Message..." rows="5" name="message"></textarea>

          <button type="submit">Submit</button>

        </div>
      </form>
    </div>
    <div class="view_info">
      <form action="/accounts/" class="view_info_form">
        <button type="submit" class='btn'>View Users</button>
      </form>
    </div>
</div>
  </body>
</html>