<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Responsive Table + Detail View</title>
  {% load static %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="{% static 'dist/style.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<h1>
  Registered Accounts
</h1>
<main>
  <table>
    <thead>
      <tr>
        <th>User id</th>
        <th>Username</th>
        <th>E-mail</th>
        <th>Message</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th colspan='6'>
          Year: 2014
        </th>
      </tr>
    </tfoot>
    <tbody>
      {% for d in data %}

      <th scope="row">{{d.id}}</th>
        <td>{{d.name}}</td>
        <td>{{d.email}}</td>
        <td>{{d.message}}</td>
        <td><a href="/update/{{d.id}}" type="button" class="btn btn-outline-warning">Edit</a></td>
        <td><a href="/delete/{{d.id}}" type="button" class="btn btn-outline-danger">Delete</a></td>      </tr>

      {% endfor %}
    </tbody>
  </table>
  <div class='detail'>
    <div class='detail-container'>
      <dl>
        <dt>
          Provider Name
        </dt>
        <dd>
          John Doe
        </dd>
        <dt>
          E-mail
        </dt>
        <dd>
          email@example.com
        </dd>
        <dt>
          City
        </dt>
        <dd>
          Detroit
        </dd>
        <dt>
          Phone-Number
        </dt>
        <dd>
          555-555-5555
        </dd>
        <dt>
          Last Update
        </dt>
        <dd>
          Jun 20 2014
        </dd>
        <dt>
          Notes
        </dt>
        <dd>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
        </dd>
      </dl>
    </div>
    <div class='detail-nav'>
      <button class='close'>
        Close
      </button>
    </div>
  </div>

</main>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="./script.js"></script>

</body>
</html>
