body {
    background-color: #0FF !important;
}
.registration_d {
    margin: 0 auto;
    padding: 15px;
    background-color: #5a7233 !important;
    width: 600px !important;
    border-radius: 35px;
}
.btn {
   background-color: white !important;
   color: #5a7233 !important;
}
.btn:hover {
    background-color: #013220 !important;
}

.form_div, .view_info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.view_info_form {
    background-color: #5a7233 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
